body:not(.tags-page) .navigation-controls {
  .notifications-tracking-trigger-btn {
    display: none;
  }
}

.follow-topic-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1em;

  .follow-topic-btn,
  .reply-topic-btn {
    min-width: 100px;
    justify-content: center;
  }
}
